@font-face {
    font-family: "Bestime";
    src: url("/fonts/Bestime.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neulis Cursive";
    src: url("/fonts/NeulisCursive.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lexend Deca";
    src: url("/fonts/LexendDeca.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-bestime: "Bestime", sans-serif;
    --font-neulis: "Neulis Cursive", cursive;
    --font-inter: "Inter", sans-serif;
    --font-lexend: "Lexend Deca", sans-serif;
}

html {
    scroll-behavior: smooth;
}

#smooth-wrapper {
    overflow: hidden;
}

#smooth-content {
    overflow: visible;
    width: 100%;
}
